<h1>Автоморфные числа</h1>
<%= form_tag(automorph_result_path + '.json', method: 'GET', remote: true, data: { :'with-credentials' => true }, id: 'input_form') do %>
    <p>
        Введите число, до которого найти все автоморфные числа (от 1 до 100 включительно): 
        <%= number_field_tag('number', 10, min: 1, max: 100) %>
    </p>
    <p>
        <%= submit_tag 'Найти' %>
    </p>
<% end %>

<div id="results"></div>
