<h1>Автоморфные числа</h1>
<form action="/automorph/result" method="GET">
    <p>
        Введите число, до которого найти все автоморфные числа (от 1 до 100 включительно): 
        <input name="number" type="number" min=1 max=100 value=10>
    </p>
    <p>
        <input type="submit" value="Найти">
    </p>
</form>
