<h1>Автоморфные числа</h1>
<% if @error %>
  <p id="error">
    <%= @error %>
  </p>
<% else %>
  <table>
    <tr>
      <th>№</th>
      <th>Число</th>
      <th>Квадрат</th>
    </tr>
    <% @numbers ||= [] %>
    <% @numbers.each_with_index do |n, i| %>
      <tr>
        <td name="index"><%= i+1 %></td>
        <td name="value"><%= n %></td>
        <td name="square"><%= n*n %></td>
      </tr>
    <% end %>
  </table>
<% end %>
