<h1>Users</h1>

<% if @users.empty? %>
  <p>There is no users :(</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Nickname</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>